"*":
  "SFTP-deployment": {}
  "atom-timestamp":
    numberOfLines: 10
    scopeSelector: "^comment\\b|plain\\.text|text\\.plain\\.null-grammar"
    timestampFormats: [
      "YYYY-MM-DD HH:mm:ss a"
      "LLLL"
    ]
    timestampPrefix: "Modified:[ \\t]+[\"]?"
    timestampSuffix: "[\"]?$"
  core:
    telemetryConsent: "no"
  editor:
    preferredLineLength: 120
  "exception-reporting":
    userId: "9c239e0a-4d8b-8a48-51cd-fdbcf9182b6d"
  "git-plus":
    general:
      _analyticsUserId: "cbd3ebda-b393-4963-9a53-d57ff2fdf3f7"
  "remote-ftp":
    notifications:
      enableTransfer: true
      enableWatchFileChange: true
  "split-diff":
    hideDocks: true
    ignoreWhitespace: true
    turnOffSoftWrap: true
  welcome:
    showOnStartup: false
