"*":
  "SFTP-deployment": {}
  "atom-shell-commands":
    commands: [
      {
        command: "./push-update.sh"
        name: "Push a Static Update"
        options:
          cwd: "{ProjectDir}"
          keymap: "ctrl-2"
          save: true
      }
    ]
  "atom-timestamp":
    numberOfLines: 10
    scopeSelector: "^comment\\b|plain\\.text|text\\.plain\\.null-grammar|source.gfm"
    timestampFormats: [
      "YYYY-MM-DD HH:mm:ss a"
      "LLLL"
      "YYYY-MM-DD[T]HH:mm:ssZ"
    ]
    timestampPrefix: "[date|Modified]:[ \\t]+[\"]?"
    timestampSuffix: "[\"]?$"
  core:
    telemetryConsent: "no"
  editor:
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 4
    tabType: "soft"
  "exception-reporting":
    userId: "9c239e0a-4d8b-8a48-51cd-fdbcf9182b6d"
  "gist-it":
    openAfterCreate: true
    userToken: "e00f0091422a261e387ae20faae5dc6248f4b3c4"
  "git-plus":
    commits:
      verboseCommits: true
    general:
      _analyticsUserId: "cbd3ebda-b393-4963-9a53-d57ff2fdf3f7"
  "remote-ftp":
    notifications:
      enableTransfer: true
      enableWatchFileChange: true
  "split-diff":
    hideDocks: true
    ignoreWhitespace: true
    turnOffSoftWrap: true
  welcome:
    showOnStartup: false
